<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse2">
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Products</a>
            </div>
            <div class="navbar-nav">
                <!-- Dropdown for username and logout -->
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                       {{userData?.firstName}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Welcome {{userData?.firstName}} {{userData?.lastName}}</h5>
                <p class="card-text">Total user {{userList?.total}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>